*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    width: 100%;
    min-height: 100vh;
    background: url('https://cdn.pixabay.com/photo/2021/05/29/03/00/beach-6292382_1280.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    display: grid;
    place-items: center;
}
.clock{
    width: 100%;
    max-width: 400px;
    padding: 2rem;
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#time{
    font-size: 3.5rem;
}
#timeFormat{
    position: relative;
    top: -15px;
    font-weight: 600;
    font-size: 1.2rem;
}



@media (max-width:420px) {
    .clock{
        max-width: 300px;
       padding: 2rem 1rem;
    }
    #time{
        font-size: 1.8rem;
    }
    #timeFormat{
        font-size: 1rem;
    }
}